body {
    background-color: #393D49;
}

h1 {
    text-align: center;
    line-height: 50px;
    color: #D0D0D0;
}

h3 {
    text-align: center;
    color: #01AAED;
}

a {
    color: #FF5722;
    font-weight: bold;
}